@import url("https://fonts.googleapis.com/css2? family=Source+Sans+Pro:wght@300&display=swap");
.fondo-Negro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #FCA311;
  position: sticky; }
  .fondo-Negro .nav .logo {
    width: 8rem;
    animation: logo 5s; }

@keyframes logo {
  0% {
    opacity: 0;
    transform: translatey(-100px); }
  20%,
  80% {
    opacity: 1;
    transform: translateX(0); } }
  .fondo-Negro .nav .menu {
    text-align: center;
    animation: menu 5s normal; }

@keyframes menu {
  0% {
    opacity: 0;
    transform: translatex(-100px); }
  20%,
  80% {
    opacity: 1;
    transform: translateX(0); } }
    .fondo-Negro .nav .menu .li {
      padding: 1rem;
      display: inline-block;
      position: relative; }
      .fondo-Negro .nav .menu .li .item {
        font-style: italic;
        text-decoration: none;
        color: white;
        font-size: 1.5rem; }
        .fondo-Negro .nav .menu .li .item .a:hover {
          font-size: 3rem; }

.quienes-Somos {
  width: 80%;
  margin: 0 auto 2rem;
  display: flex;
  flex-direction: column;
  align-content: space-around; }
  .quienes-Somos .tituloMenu {
    padding: 2rem;
    color: black;
    text-align: center; }
  .quienes-Somos .quienes_Somos {
    color: black;
    text-align: center;
    padding-bottom: 2rem;
    font-size: 2.5rem; }
  .quienes-Somos .imagenes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    margin: 0 auto; }

.padre {
  background-color: #14213D;
  color: aqua;
  width: 100%;
  margin: 0 auto 3rem;
  height: 50rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .padre .altare {
    width: 40%; }
    .padre .altare .miguel {
      width: 100%;
      height: 70%; }
    .padre .altare .familia-Pastoral {
      display: inline-block;
      color: white;
      font-size: 2.5rem; }

footer {
  background-color: black; }
  footer .mapa {
    width: 10%;
    height: 10rem;
    border-radius: 10rem;
    position: sticky; }
  footer .nav .ul {
    padding: 1rem;
    display: inline-block;
    position: relative; }
    footer .nav .ul .il .a {
      font-style: italic;
      text-decoration: none;
      color: white;
      font-size: 1.5rem; }
      footer .nav .ul .il .a:hover {
        color: yellow;
        font-size: 2rem; }
  footer .insta_Iglesia {
    color: yellow;
    font-size: 2rem; }
    footer .insta_Iglesia:hover {
      font-size: 3rem; }
  footer .face_Iglesia {
    color: yellow;
    font-size: 2rem; }
    footer .face_Iglesia:hover {
      font-size: 3rem; }
  footer .redes_sociales {
    color: yellow; }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #FCA311;
  position: sticky; }
  header .logo {
    width: 8rem;
    animation: logo 5s; }

@keyframes logo {
  0% {
    opacity: 0;
    transform: translatey(-100px); }
  20%,
  80% {
    opacity: 1;
    transform: translateX(0); } }
  header .nav .menu {
    text-align: center;
    animation: menu 5s normal; }

@keyframes menu {
  0% {
    opacity: 0;
    transform: translatex(-100px); }
  20%,
  80% {
    opacity: 1;
    transform: translateX(0); } }
    header .nav .menu .li {
      padding: 1rem;
      display: inline-block;
      position: relative; }
      header .nav .menu .li .item {
        font-style: italic;
        text-decoration: none;
        color: white;
        font-size: 1.5rem; }
        header .nav .menu .li .item:hover {
          font-size: 3rem; }

.trabajamos {
  height: 15rem;
  background-image: linear-gradient(to top, white, #fca311); }
  .trabajamos .titulo {
    text-align: center;
    color: black; }
  .trabajamos__parrafo {
    color: black;
    text-align: justify; }

.celulas {
  width: 100%;
  height: 60rem;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(2, 3.5fr); }
  .celulas .lideres {
    display: grid;
    padding-top: 2rem;
    color: white;
    width: 35rem;
    height: 30px;
    border: solid 0.5rem #5f2c82;
    border-radius: 2rem;
    justify-content: center;
    transition: height, 2s; }
    .celulas .lideres:hover {
      height: 270px;
      padding: 2rem;
      color: black;
      background-color: teal;
      border: solid 0.5px white;
      cursor: pointer; }
  .celulas .titulo_Celulas {
    color: black;
    text-align: center; }

.footer {
  background-image: linear-gradient(to top, #fca311, white); }
  .footer .nav {
    color: black; }
    .footer .nav .ul {
      color: red; }
      .footer .nav .ul .item {
        color: black;
        text-decoration: none; }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #FCA311;
  position: sticky; }
  header .logo {
    width: 8rem;
    animation: logo 5s; }

@keyframes logo {
  0% {
    opacity: 0;
    transform: translatey(-100px); }
  20%,
  80% {
    opacity: 1;
    transform: translateX(0); } }
  header .nav .menu {
    text-align: center;
    animation: menu 5s normal; }

@keyframes menu {
  0% {
    opacity: 0;
    transform: translatex(-100px); }
  20%,
  80% {
    opacity: 1;
    transform: translateX(0); } }
    header .nav .menu .li {
      padding: 1rem;
      display: inline-block;
      position: relative; }
      header .nav .menu .li .a {
        font-style: italic;
        text-decoration: none;
        color: white;
        font-size: 1.5rem; }
        header .nav .menu .li .a:hover {
          font-size: 3rem; }

.formulario {
  background-image: url(../multimedia/familia_pastoral.jpeg);
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50rem;
  border: solid 0.5rem blak;
  border-radius: 4rem; }
  .formulario .div-contactos {
    align-items: center; }
    .formulario .div-contactos .contactos {
      transition: all, 2s; }
      .formulario .div-contactos .contactos:focus {
        width: 30rem;
        background-color: #aaaa; }

.footer-Contactos {
  height: 20rem;
  background-color: black; }

html {
  font-size: 62.5%;
  text-transform: capitalize; }

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box; }

body {
  font-style: italic;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem; }
