.formulario {
    background-image: url(../multimedia/familia_pastoral.jpeg);
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 60rem;
    border: solid 0.5rem blak;
    border-radius: 10rem;
    margin-top: 3rem;
    margin-bottom: 3rem;

    .mapa {
        width: 30%;
        height: 10rem;
        border-radius: 10rem;
        position: sticky;
        margin-top: 2rem;
    
}

    .titulo {
        color:#FCA311;
        font-size: 3rem;
    }

    .div-contactos {
        transition: all, 3s;
        align-items: center;

        .contactos {
            width: 10rem;

            &:focus {
                width: 30rem;
                background-color: #aaaa;
            }
        }
    }
}

.footer-Contactos {
    height: 10rem;
    background-color: black;
}