.formulario {
    background-image: url(../multimedia/fancy-cushion.png);
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2rem;
    // width:10%;
    height: 60rem;
    margin-top: 3rem;
    margin-bottom: 3rem;

    .mapa {
        width: 30%;
        height: 10rem;
        border-radius: 10rem;
        position: sticky;
        margin-top: 2rem;
    
}

    .titulo {
        color:#FCA311;
        font-size: 3rem;
    }

    .labelNombre{
        color: #FCA311;
        font-size: 1.5rem;
        font-style: italic;
    }

    .contactos{
        width: 30rem;
        transition: all, 3s;

        &:focus{
            width: 30rem;
            background-color: #003566;
        }
    }

}

.footer-Contactos {
    height: 4rem;
    background-color: black;
}