.formulario {
    background-image: url(../multimedia/familia_pastoral.jpeg);
    
    background-size: cover;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10rem;
    width:56%;
    height: 60rem;
    margin-top: 3rem;
    margin-bottom: 3rem;

    .mapa {
        width: 30%;
        height: 10rem;
        border-radius: 10rem;
        position: sticky;
        margin-top: 2rem;
    
}

    .titulo {
        color:#FCA311;
        font-size: 3rem;
    }

    .div-contactos {
        transition: all, 3s;
        align-items: center;

        .contactos {
            width: 100rem;
            &focus{
                
            }
        }
    }
}

.footer-Contactos {
    height: 4rem;
    background-color: black;
}