footer {
    background-color: #000814;
    height: auto;
    

    .mapa {
        width: 25%;
        height: 15rem;
        border-radius: 10rem;
        position: sticky;
        margin-top: 2rem;
    }

    .footer-Nav {
        text-align: center;
        word-spacing: 1rem;
        font-family: 'Noto Sans JP', sans-serif;
        font-family: 'Nunito', sans-serif;

        .footer-Menu {
            display: inline;

            a {
                text-decoration: none;
                color: white;
                font-size: 2rem;
                font-family: 'Marvel', sans-serif;
                font-family: 'Open Sans Condensed', sans-serif;

                &:hover {
                    font-size: 2rem;
                    color: yellow;
                }
            }
        }
    }

    .insta_Iglesia {
        align-items: center;
        color: yellow;
        font-size: 2.5rem;

        &:hover {
            font-size: 3rem;
        }
    }

    .face_Iglesia {
        align-items: center;
        color: yellow;
        font-size: 2.5rem;

        &:hover {
            font-size: 3rem;
        }
    }

    .redes_sociales {
        text-align: center;
        display: inline;
        color: yellow;
    }
}