header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FCA311;
    position: sticky;

    .logo {
        width: 8rem;
        animation: logo 5s;

        @keyframes logo {
            0% {
                opacity: 0;
                transform: translatey(-100px);
            }

            20%,
            80% {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }

    .nav {
        .menu {
            text-align: center;
            animation: menu 5s normal;

            @keyframes menu {
                0% {
                    opacity: 0;
                    transform: translatex(-100px);
                }

                20%,
                80% {
                    opacity: 1;
                    transform: translateX(0);
                }
            }

            .nav-item {
                padding: 1rem;
                display: inline-block;
                position: relative;

                .nav-link{
                    font-style: italic;
                    text-decoration: none;
                    font-size: 1.5rem;

                    &:hover {
                        font-size: 3rem;
                    }
                }
            }
        }
    }
}