.titulo_Ministerios {
    padding-top: 1rem;
    background-color: #14213D;
    text-align: center;
    color: tomato;
    letter-spacing: 0.5rem;
    font-weight: bold;
    margin-bottom: 0%;
}

.tipo_Ministerios {
    background-color: #14213D;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "genomas cami karu"
        "ivan jovenes josue"
        "desconocido  tania niños"
        "calle27 tety altare";
    align-items: center;

    div {

        .redes{
            text-align: center;
        }
        .ministerios {
            font-size: 2.5rem;
            grid-area: genomas;
            color: white;
            text-align: center;
            padding-bottom: 2rem;
            font-weight: bold;
        }

        .parrafo_Ministerio {
            padding-right: 4rem;
            padding-left: 4rem;
            font-size: 1.8rem;
            color: #e76f51;
            text-align: center;

            span{
                color: #fca311;
            }
        }

        .cami{color: black;}

            .jovenes {
                color: white;
                font-size: 3rem;


                &:hover {
                    font-size: 4rem;
                    color: #fca311;
                }
            }

            .faceInsta{
                color: white;
                font-size:3rem;
                
                &:hover {
                    font-size: 4rem;
                    color: #fca311;
                }
            }
        
    }

    .karu {
        grid-area: karu;
        width: 100%;
        height: 90%;
    }

    .cami {
        grid-area: cami;
        width: 100%;
        height: 90%;
    }

    .ivo_Cantando {
        grid-area: ivan;
        width: 100%;
        height: 90%;
    }

    .josue {
        grid-area: josue;
        width: 100%;
        height: 90%;
    }

    .tania {
        grid-area: tania;
        width: 100%;
        height: 90%;
    }

    .desconocido {
        grid-area: desconocido;
        width: 100%;
        height: 90%;
    }

    .wally {
        grid-area: altare;
        width: 100%;
        height: 90%;
    }

    .tety {
        grid-area: tety;
        width: 100%;
        height: 90%;
    }

}

dl, ol, ul {
    padding-top: 2rem;

}